* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #ec715f;
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
}

.header-aria {
  width: 1024px;
  height: 70px;
  margin: 0 auto;
  display: flex;
}

img {
  height: 70px;
}

nav {
  margin: 0 0 0 auto;
}

.nav-list {
  color: #fafafa;
  font-size: 16px;
  display: flex;
  align-items: center;
  height: 70px;
}

.nav-list-item {
  list-style: none;
  display: flex;
  margin: 0 30px;
}

.main-visual {
  background-image: url(img/mv.png);
  background-size: cover;
  width: 100%;
  height: 650px;
}

.mv-title {
  font-size: 64px;
  color: #fafafa;
  padding-top: 200px;
  text-align: center;
}

.mv-text {
  font-size: 20px;
  color: #fafafa;
  padding-top: 10px;
  text-align: center;
}

.portfolio {
  width: 100%;
  background-color: #eceff1;
  color: #000000;
  text-align: center;
}

h2 {
  font-size: 32px;
  padding-top: 90px;
  padding-bottom: 8pt;
}

.line {
  height: 3px;
  width: 70px;
  background-color: #ec715f;
  margin: 0 auto;
}

.text {
  font-size: 16px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.pf-visual {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.pf-visual1 {
  background-image: url(img/sketch.jpg);
  width: 300px;
  height: 250px;
  background-size: cover;
  background-position: center;
  margin-right: 10px;
  margin-bottom: 10px;
}

.pf-visual2 {
  background-image: url(img/websuku.png);
  width: 300px;
  height: 250px;
  background-size: cover;
  background-position: center;
  margin-right: 10px;
  margin-bottom: 10px;
}

.pf-visual3 {
  background-image: url(img/write.jpg);
  width: 300px;
  height: 250px;
  background-size: cover;
  background-position: center;
  margin-bottom: 10px;
}

.pf-visual4 {
  background-image: url(img/webcamp.png);
  width: 300px;
  height: 250px;
  background-size: cover;
  background-position: center;
  margin-right: 10px;
  margin-bottom: 90px;
}

.pf-visual5 {
  background-image: url(img/talk.jpg);
  width: 300px;
  height: 250px;
  background-size: cover;
  background-position: center;
  margin-right: 10px;
  margin-bottom: 90px;
}

.pf-visual6 {
  background-image: url(img/webcamp-mother.png);
  width: 300px;
  height: 250px;
  background-size: cover;
  background-position: center;
  margin-bottom: 90px;
}

.feature {
  width: 100%;
  text-align: center;
}

.strength {
  display: flex;
  justify-content: center;
}

i {
  font-size: 60px;
}

.strength1 {
  width: 320px;
  margin-right: 10px;
  margin-bottom: 90px;
}

h3 {
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.strength-text {
  font-size: 16px;
  color: #000000;
  text-align: left;
}

.strength2 {
  width: 320px;
  margin-right: 10px;
  margin-bottom: 90px;
}

.strength3 {
  width: 320px;
  margin-bottom: 90px;
}

.profile {
  width: 100%;
  background-color: #eceff1;
  text-align: center;
}

.profile-detail {
  display: flex;
  justify-content: center;
  padding-bottom: 90px;
}

.profile-image {
  width: 512px;
}

.my-icon {
  width: 250px;
  height: 250px;
  border-radius: 50%;
}

.profile-content {
  width: 512px;
}

.profile-title {
  font-size: 20px;
  margin-bottom: 5px;
  text-align: left;
  color: #000000;
}

.profile-text {
  font-size: 16px;
  margin-bottom: 20px;
  text-align: left;
  color: #000000;
}

.contact {
  width: 100%;
  text-align: center;
}

.contact-detail {
  margin-bottom: 90px;
  display: flex;
  justify-content: center;
}

.mail-tel {
  width: 400px;
  display: inline-block;
  text-align: center;
}

.contact-content {
  display: inline-block;
  text-align: left;
}

.contact-title {
  font-size: 20px;
  margin-bottom: 5px;
  color: #000000;
}

.contact-text {
  font-size: 16px;
  color: #000000;
  text-decoration: underline;
  margin-bottom: 20px;
}

.SNS {
  width: 400px;
  display: inline-block;
  text-align: center;
}

.SNS i {
  font-size: 50px;
  margin-right: 20px;
}

footer {
  width: 100%;
  height: 60px;
  background-color: #ec715f;
}

.copylights {
  display: flex;
  height: 60px;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  color: #fafafa;
}